<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éla - UX/UI designer</title>

    <link rel="stylesheet" href="../styles/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="../index.html">ÉLA</a></div>

        <div>
            <ul>
                <li><a class="link-nav" href="about.html">À propos</a></li>
                <li><a class="link-nav" href="skills.html">Expertises</a></li>                
                <li><a class="link-nav" href="works.html">Réalisations</a></li>                
            </ul>
        </div>

        <div>
            <ul>
                <li><a class="link-high-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-high-simple" href="#">Contact</a></li>                
            </ul>
        </div>
    </nav>

    <div class="tapbar-mobile"> 
        <a class="" href="../views/about.html">
            <div>
                <div class="nav-pictos"></div>
                <input type="button" value="À propos"/>
            </div>
        </a>

        <a class="" href="../views/skills.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Expertises"/>
        </a>

        <a class="" href="../views/works.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Réalisations"/>
        </a>

        <a class="" href="../views/contact.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Contact"/>
        </a>
    </div>

    <div class="container-global container-about">
        <div class="nav-logo-mobile"><a href="../index.html">ÉLA</a></div>

        <div>
            <p class="subtitle-global">Du design graphique à l'UX/UI</p>
            <h1>Un peu plus sur mon parcours</h1>
        </div>

        <div>
            <p>J'aime les rencontres, les découvertes, le challenge des nouveaux projets. </p>
            <p>Si le désir de bien faire est un réel moteur, celui de participer à des projets qui font sens et le bien autour de nous est encore plus puissant. </p>

            <p>La volonté de devenir designer graphique a toujours été guidée par l'envie d'offrir un autre regard sur ce qui nous entoure. C'est pourquoi de 2015 à 2020, j'avais fait le choix d'accompagner des entreprises, des associations et des indépendants pour réaliser des identités visuelles et des supports à la hauteur de leurs valeurs et de leurs engagements. Mon métier était alors d'aider mes clients à construire leurs images de marque, gagner en crédibilité et en notoriété, en sublimant leurs supports de communication.</p>

            <p>Curieuse, j'ai eu envie de me lancer de nouveaux défis en allant plus loin : répondre aux nouvelles attentes induites par le développement des nouvelles technologies et l'univers du numérique, pour ainsi participer à la création de supports digitaux !</p>

            <p>Je me suis alors formée au développement web et à l'UX/UI pour exercer ce nouveau métier que j'aime tant !</p>
        </div>

        <a href="./skills.html">
            <input class="button-primary" type="button" value="Découvrez mes champs d'expertise"/>
        </a>
    </div>

    <footer>
        <div>ÉLA</div>

        <div>
            <ul>
                <li><a class="link-small-simple" href="#">Linkedin</a></li>
                <li><a class="link-small-simple" href="#">Contact</a></li>
                <li><a class="link-small-simple" href="#">Mentions légales</a></li>
            </ul>
        </div>

        <div>
            <p class="link-small-simple">Site conçu et codé par Émilie-Laura Accipe. Copyright 2023 - Tous droits réservés.</p>
        </div>
    </footer>
    
</body>

</html>