<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éla - UX/UI designer</title>

    <link rel="stylesheet" href="../styles/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="../index.html">ÉLA</a></div>

        <div>
            <ul>
                <li><a class="link-nav" href="about.html">À propos</a></li>
                <li><a class="link-nav" href="skills.html">Expertises</a></li>                
                <li><a class="link-nav" href="works.html">Réalisations</a></li>                
            </ul>
        </div>

        <div>
            <ul>
                <li><a class="link-high-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-high-simple" href="#">Contact</a></li>                
            </ul>
        </div>
    </nav>

    <div class="tapbar-mobile"> 
        <a class="" href="../views/about.html">
            <div>
                <div class="nav-pictos"></div>
                <input type="button" value="À propos"/>
            </div>
        </a>

        <a class="" href="../views/skills.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Expertises"/>
        </a>

        <a class="" href="../views/works.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Réalisations"/>
        </a>

        <a class="" href="../views/contact.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Contact"/>
        </a>
    </div>
       
    <div class="header">
        <div class="nav-logo-mobile"><a href="../index.html">ÉLA</a></div>

        <div>
            <p class="subtitle-global">Refonte globale</p>
            <h1>Le Slip Français</h1>
        </div>
    </div>

    <div class="banner" style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>

    <section class="skills">
        <div class="container">
            <div class="skills-description">
                <div>
                    <div>picto</div>
                    <p>Compétences</p>
                    <p>Userflows, wireframes, maquettes, prototypes, tests utilisateurs, suivi de développement</p>
                </div>
                <div>
                    <div>picto</div>
                    <p>Outils</p>
                    <p>Figma, Jira, AB tasty, Matomo</p>
                </div>
                <div>
                    <div>picto</div>
                    <p>Équipe</p>
                    <p>CEO, responsable e-commerce, product Owner, développeurs</p>
                </div>
            </div>
        </div>
    </section>

    <section class="project-evolution">
        <div class="container">
            <div class="title-description">
                <div>
                    <div class="title-border"></div>
                    <p class="subtitle-global">Évolution du site entre 2021 et 2022</p>
                </div>

                <div>
                    <p class="intro">Avant la refonte du site, différents composants et pages ont été optimisés progressivement. L'UI du site a également évolué grâce à une nouvelle identité de marque dévoilée début 2022.</p>
                </div>
                
            </div>

            <div class="container-before-after">
                <div class="block-before-after">
                    <div class="before-after-slider">
                        <img src="../assets/home-p21.jpg" alt="Before homrpage winter 2021" class="before-image">
                        <img src="../assets/home-p22.jpg" alt="After homepage spring 2022" class="after-image">
                    </div>
    
                    <input type="range" class="before-after-cursor" min="0" max="100" value="50" aria-label="Percentage of before photo shown"/>
    
                    <div class="before-after-line"></div>
                    <div class="before-after-button" aria-hidden="true">
                        <img src="../assets/Arrow3.svg"></img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="design-system dark-mode">
        <div class="container">
            <div class="title-description">
                <div>
                    <div class="title-border"></div>
                    <p class="subtitle-global">Le design sytem</p>
                </div>
    
                <div>
                    <p class="intro">La refonte globale du site, nous a permis de définir l'ensemble des besoins et cas concrets, afin de concevoir un design system complet et évolutif. Tout a été conçu en mobile first, full responsive avec des maquettes 320 px pour s'adapter à toutes les tailles d'écrans. Voici un aperçu de quelques composants en version mobile.</p>
                </div>          
            </div>
        </div>

        <div class="horizontal-slider">
            <div class="slider-container">
                <div class="item">
                    <img src="../assets/nav-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/tapbar-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/boutons-primaires-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/boutons-secondaires-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/boutons-tertiaires-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/badges-tag-price-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/checkbox-mobile.svg" alt="">
                </div>
                <div class="item">
                    <img src="../assets/typographies-mobile.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="project-maquettes">
        <div class="container">
            <div class="title-description">
                <div>
                    <div class="title-border"></div>
                    <p class="subtitle-global">Les maquettes</p>
                </div>

                <div>
                    <p class="intro">Lorem ipsum</p>
                </div>
                
            </div>

            <div class="mockup">
                <img src="../assets/Mockup-lsf.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="project-tests">
        <div class="container">
            <p class="subtitle-global">Refonte - Les A/B tests</p>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias sequi eveniet dignissimos laborum cupiditate culpa unde quis voluptatem! Ipsam molestiae mollitia ab, suscipit unde assumenda? Animi doloribus harum soluta?</p>
        </div>
    </section>

    <section class="project-tests dark-mode">
        <div class="container">
            <p class="subtitle-global">La refonte</p>
            <p class="intro">L'objectif de la refonte était d'affirmer les nouveaux codes graphiques suite au changement d'identité, d'augmenter la désirabilité, d'insufler de la nouveauté et du panache, d'affirmer le caractère différenciant de la marque (notamment la transparence sur la traçabilité des produits).</p>

            <p class="intro">Changement typographique, mise en avant de l'image, simplification des parcours clients en mobile (comportements prochent d'une app), uniformisation</p>

            <p class="intro">FP : proposer un parcours simplifié pour le choix du coloris, de la taille, de la broderie, de l'achat en pack. Visibilité de la traçabilité et des avis clients.</p>
        </div>
    </section>

    <footer>
        <div>ÉLA</div>

        <div>
            <ul>
                <li><a class="link-small-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-small-simple" href="#">Contact</a></li>
                <li><a class="link-small-simple" href="#">Mentions légales</a></li>
            </ul>
        </div>

        <div>
            <p class="link-small-simple">Site conçu et codé par Émilie-Laura Accipe. Copyright 2023 - Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="../script.js"></script>

</body>

</html>