<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éla - UX/UI designer</title>

    <link rel="stylesheet" href="../styles/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="../index.html">ÉLA</a></div>

        <div>
            <ul>
                <li><a class="link-nav" href="about.html">À propos</a></li>
                <li><a class="link-nav" href="skills.html">Expertises</a></li>                
                <li><a class="link-nav" href="works.html">Réalisations</a></li>                
            </ul>
        </div>

        <div>
            <ul>
                <li><a class="link-high-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-high-simple" href="#">Contact</a></li>                
            </ul>
        </div>
    </nav>

    <div class="tapbar-mobile"> 
        <a class="" href="../views/about.html">
            <div>
                <div class="nav-pictos"></div>
                <input type="button" value="À propos"/>
            </div>
        </a>

        <a class="" href="../views/skills.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Expertises"/>
        </a>

        <a class="" href="../views/works.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Réalisations"/>
        </a>

        <a class="" href="../views/contact.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Contact"/>
        </a>
    </div>
       
    <div class="container-global">
        <div class="nav-logo-mobile"><a href="../index.html">ÉLA</a></div>

        <div>
            <p class="subtitle-global">Refonte globale</p>
            <h1>Le Slip Français</h1>
        </div>
    </div>

    <section class="project-presentation">
        <div class="container">
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias sequi eveniet dignissimos laborum cupiditate culpa unde quis voluptatem! Ipsam molestiae mollitia ab, suscipit unde assumenda? Animi doloribus harum soluta?</p>
    
            <div class="mosaique">
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
            </div>
        </div>
    </section>

    <section class="project-refonte">
        <div class="container">

            <p class="subtitle-global">Création du design system</p>
    
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias sequi eveniet dignissimos laborum cupiditate culpa unde quis voluptatem! Ipsam molestiae mollitia ab, suscipit unde assumenda? Animi doloribus harum soluta?</p>

            <div class="trend-board">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </section>

    <footer>
        <div>ÉLA</div>

        <div>
            <ul>
                <li><a class="link-small-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-small-simple" href="#">Contact</a></li>
                <li><a class="link-small-simple" href="#">Mentions légales</a></li>
            </ul>
        </div>

        <div>
            <p class="link-small-simple">Site conçu et codé par Émilie-Laura Accipe. Copyright 2023 - Tous droits réservés.</p>
        </div>
    </footer>
    
</body>

</html>