<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éla - UX/UI designer</title>

    <link rel="stylesheet" href="../styles/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div><a href="../index.html">ÉLA</a></div>

        <div>
            <ul>
                <li><a class="link-nav" href="about.html">À propos</a></li>
                <li><a class="link-nav" href="skills.html">Expertises</a></li>                
                <li><a class="link-nav" href="works.html">Réalisations</a></li>                
            </ul>
        </div>

        <div>
            <ul>
                <li><a class="link-high-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-high-simple" href="#">Contact</a></li>                
            </ul>
        </div>
    </nav>

    <div class="tapbar-mobile"> 
        <a class="" href="../views/about.html">
            <div>
                <div class="nav-pictos"></div>
                <input type="button" value="À propos"/>
            </div>
        </a>

        <a class="" href="../views/skills.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Expertises"/>
        </a>

        <a class="" href="../views/works.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Réalisations"/>
        </a>

        <a class="" href="../views/contact.html">
            <div class="nav-pictos"></div>
            <input type="button" value="Contact"/>
        </a>
    </div>
       
    <div class="container-global">
        <div class="nav-logo-mobile"><a href="../index.html">ÉLA</a></div>

        <div>
            <p class="subtitle-global">Refonte globale</p>
            <h1>Le Slip Français</h1>
        </div>
    </div>

    <section class="project-presentation">
        <div class="container">

            <div class="slogan">
                <span>« Réinventer avec panache l'industrie textile française »</span>
            </div>
                

            <p class="intro">
                C'est le défi que Le Slip Français s'est lancé depuis 10 ans, en fabriquant entièrement ses vêtements en France. J'ai eu la chance de rejoindre l'équipe web afin de concevoir de nouvelles pages du site, optimiser différents composants, analyser des données chiffrées, définir et optimiser des parcours utilisateurs, mettre en place des tests A/B et initier des tests utilisateurs. Mes principales missions furent également de prendre en charge la refonte du site, de créer le design system, d'évangéliser les membres de l'équipe sur les méthodes de Design, d'échanger avec les développeurs front et back afin de produire en permanence des maquettes réalisables et maintenables, d'anticiper les problèmes techniques éventuels à leurs côtés.</p>
    
            <div class="mosaique">
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
                <div style="background:url('../assets/image1.jpg') no-repeat center; background-position: bottom; background-size: cover;"></div>
            </div>
        </div>
    </section>

    <section class="project-result">
        <div class="container">
            <p class="subtitle-global">Évolution entre 2021 et 2022</p>
            <p class="intro">Avant la refonte du site, différents composants et pages ont été optimisés progressivement. L'UI du site a également évolué grâce à une nouvelle identité de marque dévoilée début 2022.</p>

            <div class="container-before-after">
                <div class="block-before-after">
                    <div class="before-after-slider">
                        <img src="../assets/home-p21.jpg" alt="Before homrpage winter 2021" class="before-image">
                        <img src="../assets/home-p22.jpg" alt="After homepage spring 2022" class="after-image">
                    </div>
    
                    <input type="range" class="before-after-cursor" min="0" max="100" value="50" aria-label="Percentage of before photo shown"/>
    
                    <div class="before-after-line"></div>
                    <div class="before-after-button" aria-hidden="true">
                        <img src="../assets/Arrow3.svg"></img>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-designsystem dark-mode">
        <div class="container">

            <p class="subtitle-global">Refonte - Création du design system</p>
    
            <p class="intro">La refonte globale du site, nous a permis de définir l'ensemble des besoins et cas concrets, afin de concevoir un design system complet et évolutif. Tout a été conçu en mobile first, full responsive avec des maquettes 320 px pour s'adapter à toutes les tailles d'écrans.</p>

            <div class="design-system">
                <div class="design-system-block">
                    <p>Typographie</p>
                </div>

                <div class="design-system-block">
                    <p>Navigation</p>
                    <div class="block-mobile">
                        <img src="../assets/nav-mobile.svg" alt="">
                        <img src="../assets/tapbar-mobile.svg" alt="">
                    </div>                                  
                    <div>
                        <img src="../assets/nav-desktop.svg" alt="">  
                    </div>                                  
                </div>

                <div class="design-system-block">
                    <p>Grilles</p>
                </div>

                <div class="design-system-block">
                    <p>Actions</p>
                    <div class="block-mobile">
                        <img src="../assets/boutons-mobile-vertical.svg" alt="">
                        <img src="../assets/boutons-desktop-vertical.svg" alt="">    
                    </div>
                </div>

                <div class="design-system-block">
                    <p>Sélecteurs (Checkbox, quantité, sélecteurs)</p>
                    <div class="block-mobile">
                    </div> 
                </div>

                <div class="design-system-block">
                    <p>Indicateurs (badge, prix, note, tag)</p>
                </div>

                <div class="design-system-block">
                    <p>Accordéon, tuile produit</p>
                </div>

                <div class="design-system-block">
                    <p>Gamme chromatique</p>
                </div>
            </div>
        </div>
    </section>

    <section class="project-maquettes">
        <div class="container">
            <p class="subtitle-global">Refonte - Les maquettes</p>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias sequi eveniet dignissimos laborum cupiditate culpa unde quis voluptatem! Ipsam molestiae mollitia ab, suscipit unde assumenda? Animi doloribus harum soluta?</p>
        </div>
    </section>

    <section class="project-tests">
        <div class="container">
            <p class="subtitle-global">Refonte - Les A/B tests</p>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias sequi eveniet dignissimos laborum cupiditate culpa unde quis voluptatem! Ipsam molestiae mollitia ab, suscipit unde assumenda? Animi doloribus harum soluta?</p>
        </div>
    </section>

    <section class="project-tests dark-mode">
        <div class="container">
            <p class="subtitle-global">La refonte</p>
            <p class="intro">L'objectif de la refonte était d'affirmer les nouveaux codes graphiques suite au changement d'identité, d'augmenter la désirabilité, d'insufler de la nouveauté et du panache, d'affirmer le caractère différenciant de la marque (notamment la transparence sur la traçabilité des produits).</p>

            <p class="intro">Changement typographique, mise en avant de l'image, simplification des parcours clients en mobile (comportements prochent d'une app), uniformisation</p>

            <p class="intro">FP : proposer un parcours simplifié pour le choix du coloris, de la taille, de la broderie, de l'achat en pack. Visibilité de la traçabilité et des avis clients.</p>
        </div>
    </section>

    <footer>
        <div>ÉLA</div>

        <div>
            <ul>
                <li><a class="link-small-simple" href="https://www.linkedin.com/in/emilielaura-accipe/">Linkedin</a></li>
                <li><a class="link-small-simple" href="#">Contact</a></li>
                <li><a class="link-small-simple" href="#">Mentions légales</a></li>
            </ul>
        </div>

        <div>
            <p class="link-small-simple">Site conçu et codé par Émilie-Laura Accipe. Copyright 2023 - Tous droits réservés.</p>
        </div>
    </footer>
    
    <script src="../script.js"></script>

</body>

</html>