%title-global {
    font-family: "Karla extralight";
    font-size: 4.6rem;
    font-weight: 100;
    line-height: 5rem;
    letter-spacing: -0.08rem;
    @media (min-width: 992px) {
        font-size: 5.2rem;
        padding-bottom: 2rem;
    }
}

%title-small {
    font-family: $base-font;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    @media (min-width: 992px) {
        font-size: 4.8rem;
    }
}

%subtitle-global {
    font-family: $title-font;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: 1rem;
    letter-spacing: 0.04rem;
    @media (min-width: 992px) {
        font-size: 3.2rem;
        padding-bottom: 2rem;
    }
}

%high-text {
    font-family: $base-font;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 0.9rem;
    @media (min-width: 992px) {
        font-size: 2.4rem;
    }
}

%title-links {
    font-family: $title-font;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
    @media (min-width: 992px) {
        font-size: 2.4rem;
    }
}

%current-text {
    font-family: $base-font;
    font-size: 1.6rem;
    font-weight: 400;
    @media (min-width: 992px) {
        font-size: 2rem;
    }
}

%link-small {
    font-family: $base-font;
    font-size: 1.4rem;
    font-weight: 500;
}

%link-high {
    font-family: $base-font;
    font-size: 1.6rem;
    font-weight: 500;
}

%logo-text-high {
    font-family: $title-font;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

%logo-text-small {
    font-family: $title-font;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

%flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-double-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%animate-link {
    position: relative;
    padding-bottom: 1rem;
    color: $dark;
    transition: color 0.25s;
    width: fit-content;
    &:after,
    &:before {
        content: "";
        position: absolute;
        background-color: $gray;
        width: 1rem;
        height: 0.2rem;
        bottom: 0;
        transition: width 0.25s,background-color 0.25s ease-in-out;
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }
    &:hover:after,
    &:hover:before {
        width: 50%;
    }
}